/* Example animation inside modal */
.c-node {
    fill: white;
    stroke: gray;
    stroke-width: 2;
    transition: all 0.2s ease;
  }
  .c-node.selected {
    fill: yellow;
    stroke: black;
    stroke-width: 4;
  }
  
  .c-edge {
    stroke: gray;
    stroke-width: 2;
    transition: all 0.2s ease;
    fill: none;
  }
  .c-edge.block {
    stroke: red;
    stroke-width: 4;
  }